In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iphone_purchase_records.csv")

In [3]:
df.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [4]:
df.shape

(400, 4)

In [5]:
df.dtypes

Gender             object
Age                 int64
Salary              int64
Purchase Iphone     int64
dtype: object

In [8]:
x = df.iloc[:, :-1]

In [22]:
x

     Gender  Age  Salary
0      Male   19   19000
1      Male   35   20000
2    Female   26   43000
3    Female   27   57000
4      Male   19   76000
..      ...  ...     ...
395  Female   46   41000
396    Male   51   23000
397  Female   50   20000
398    Male   36   33000
399  Female   49   36000

[400 rows x 3 columns]

In [13]:
y = df.iloc[:, 3]

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
encode_gender = LabelEncoder()

In [25]:
x.iloc[:, 0]

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
395    Female
396      Male
397    Female
398      Male
399    Female
Name: Gender, Length: 400, dtype: object

In [28]:
x.iloc[:,0] = encode_gender.fit_transform(x.iloc[:,0])

In [38]:
import numpy as np
np.vstack(x.iloc[:, :]).astype(np.float)

ValueError: could not convert string to float: 'Gender'

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [41]:
from sklearn.tree import DecisionTreeClassifier

In [43]:
DT = DecisionTreeClassifier(criterion='entropy')

In [44]:
fits_ = DT.fit(X_train, y_train )

In [53]:
y_pred = fits_.predict(X_test)

In [47]:
#Evaluation of model 
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score

In [48]:
accuracy_score(y_test, prediction)

0.9125

In [49]:
confusion_matrix(y_test, prediction)

array([[54,  4],
       [ 3, 19]], dtype=int64)

In [52]:
precision_score(y_test, prediction)

0.8260869565217391

In [54]:
# Step 6 - Evaluate the model performance
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_pred) 
print(cm)
accuracy = metrics.accuracy_score(y_test, y_pred) 
print("Accuracy score:",accuracy)
precision = metrics.precision_score(y_test, y_pred) 
print("Precision score:",precision)
recall = metrics.recall_score(y_test, y_pred) 
print("Recall score:",recall)

[[54  4]
 [ 3 19]]
Accuracy score: 0.9125
Precision score: 0.8260869565217391
Recall score: 0.8636363636363636